.section_doctor {
  height: auto;
}
.doctor_paragraph {
  background-color: #f8c67d;
  padding: 20px 40px 27px 40px;
}
.doctor_text_accent {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #140202;
}
.doctor_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #140202;
}
