.section_recipe {
  padding-top: 20px;
  padding-bottom: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
}

.recipe_img {
  margin: auto;
}
.recipe_paragraph {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  margin: 8px 0 0 0;
  padding: 0 20px 0 20px;
  color: #000000;
}
