.section_harem {
  padding-bottom: 20px;
}

.harem_paragraph {
  padding-right: 40px;
  padding-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #140202;
}
.harem_paragraph_accent {
  padding-right: 40px;
  padding-left: 40px;
}
.harem_accent {
  margin-bottom: 0;
  padding-right: 40px;
  padding-left: 40px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #140202;
}
